#line path{
    stroke-dasharray: 1564;
    stroke-dashoffset: 1564;
    animation: line-anim 4s linear infinite;
}

@keyframes line-anim {
    to{
        stroke-dashoffset: 0;
    }
}

/*firefox*/
@-moz-keyframes line-anim {
    to{
        stroke-dashoffset: 0;
    }
}

/*google chrome va safari*/
@-webkit-keyframes line-anim {
    to{
        stroke-dashoffset: 0;
    }
}