/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Tilt Neon', cursive; */

}

p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    /* background: linear-gradient(#2b1055, #7597de); */
}

.container {
    /* width: 100%; */
    /* height: 100vh; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

/*---header---*/
.header {
    /* height: 100vh; */
    /* margin-top: 50px; */
}

.sub_header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 65px;
}

.header h2 {
    font-weight: 700;
    letter-spacing: 1px;
    /* color: #fff; */
    position: absolute;
    margin-left: -60px;
    margin-top: -60px;
}

.header h2:nth-child(3){
    margin-top: 15px;
}

.header h2:nth-child(4){
    margin-top: 85px;
}

.progress {
    width: 600px;
    height: 10px;
    background-color: #959595;
    border-radius: 25px;
}

.progress div {
    width: 100px;
    height: 10px;
    background-color: yellow;
    border-radius: 25px;
}

.progress div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* border: 1px solid yellow; */
    color: #fff;
    /* background: #fff; */
    float: right;
    margin-top: -30px;
    margin-right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart{
    position: relative;
    display: inline-block;
    width: 160px;
    height: 250px;
    background-color: pink;
    border-radius: 80px 80px 0 0;
    transform: rotate(45deg);
}
.heart::before{
    content: "";
    position: absolute;
    width: 160px;
    height: 250px;
    background-color: pink;
    border-radius: 80px 80px 0 0;
    transform: rotate(-90deg);
    left: -45px;
    top: 45px;
}

/*---main---*/
.main {
    /* margin-top: 200px; */
    margin-left: 15px;
}

.main h2 {
    font-weight: 600;
    font-size: 18px;
}

.sub_main {
    position: relative;
}

.sub_main .date {
    padding-left: 6px;
}

.sub_main .date h2{
    padding-left: 22px;
}

.main video{
    margin-top: 15px;
    margin-left: -10px;
    margin-bottom: 15px;
}

.sub_main .date::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: pink;
    /* top: 3px; */
    margin-top: 3px;
    left: 3px;
}

.sub_main .content{
    margin-top: 10px;
    margin-bottom: 40px;
}

.sub_main .content::before{
    content: "";
    background-color: pink;
    position: absolute;
    height: 900px;
    width: 3px;
    margin-top: -17px;
    left: 8px;
    z-index: -10;
    overflow-x: hidden;
}

.sub_main .content .sub_content {
    margin-left: 10px;
    margin-right: 18px;
}

.date .comming_soon{
    text-align: center;
}

/* .dots-list {
    width: 100%;
}

.dots-list ol {
    padding-left: 150px;
    position: relative;
    margin-bottom: 20px;
    list-style: none !important;
}

.dots-list ol li {
    position: relative;
    margin-top: 1.0em;
    margin-bottom: 22px;
}

.dots-list ol li .date {
    position: absolute;
    left: -115px;
    font-weight: bold;
    font-size: 1em;
    top: -2px;
}

.dots-list ol li:before {
    content: "";
    background: #35a6cb;
    position: absolute;
    width: 2px;
    top: 5px;
    bottom: -25px;
    left: -24px;
}

.dots-list ol li:after {
    content: "";
    background: #c7d8dd;
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border: 2px solid #35a6cb;
    top: 5px;
    left: -31px;
}

.dots-list ol li:last-child:before {
    content: "";
    background: rgba(0, 0, 0, 0);
} */



/*---footer---*/
.footer {
    height: 100vh;
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub_footer {
    position: relative;
    margin-left: 65px;
}

.sub_footer h4{
    position: absolute;
    margin-top: -170px;
    margin-left: -60px;
}